@{
    ViewData["Title"] = "Home Page";
}

<div class="ui content">
<h1 class="ui icon header">
  <i class="circular film icon"></i>
  Film Overview
</h1>

</div>

<div class="ui segment">
    <h1 class="ui black ribbon label">Overview</h1>
    <ol class="ui list">
        <li>List item</li>
    </ol>
</div>

